NEXT_PUBLIC_SUPABASE_URL=https://vabsoagduzrhomdmkxzc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ANTHROPIC_API_KEY=
RESEND_API_KEY=
WEEKLY_SUMMARY_EMAIL=michaelxuefan@gmail.com
CRON_SECRET=
RESEND_FROM_EMAIL=analytics@notifications.example.com
NEXT_PUBLIC_APP_URL=http://localhost:3000
